<md-toolbar class="farm-toolbar">
  <div class="md-toolbar-tools">
    <h2>
      <span>ООО "Агропромснаб", Шатовка</span>
    </h2>
    <span flex></span>
    <md-button class="md-raised" aria-label="Learn More">
      Выйти
    </md-button>
  </div>
</md-toolbar>

<div layout="row">

	<md-card ng-repeat="building in farm.buildings" md-theme="default" md-theme-watch>
    	<div flex class="building">
			<div class="header">
				<h3>{{building.name}}</h3>
				<b class="cows-count">{{building.cowsCount}}</b>

			</div>
			<div class="groups" layout="row">

				<div ng-repeat="group in building.groups" flex class="group" ng-class="group.color">
					<div ng-click="farm.showGroupDialog(group);" class="group-header">
						<b class="group-number">{{group.number}}</b>
						<md-tooltip md-direction="top">
				        	{{group.name}}
				        </md-tooltip>
					</div>
					<b class="group-count">{{group.cowsCount}}</b>
				</div>
			</div>
			<div class="legend">
				<md-list>
					<md-list-item ng-repeat="group in building.groups" 
						class="legend-item noright" ng-class="group.color">
						<b ng-click="farm.showGroupDialog(group);" class="group-number">{{group.number}}</b>
						{{group.name}}
						<b class="cows-count group-count">{{group.cowsCount}}</b>
					</md-list-item>
				</md-list>
			</div>
		</div>
    </md-card>
</div>