<md-dialog class="ration-dialog" aria-label="">
  <form>
    <md-toolbar ng-class="group.color">
      <div class="md-toolbar-tools">
        <h2>
          <b class="group-number">{{group.number}}</b> 
          {{group.name}}
          <b class="cows-count">{{group.cowsCount}}</b>
      </h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/ic_close_white_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>-->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="feeding in group.feedings" label="{{feeding.time}}">
          <md-content class="md-padding">
              <div layout="row">
                <md-card ng-repeat="mixer in feeding.mixers" md-theme="default" md-theme-watch class="mixer" flex>
                  <md-list class="md-dense ration">
                  <md-subheader class="md-no-sticky">
                    Миксер 
                    <md-icon md-svg-src="img/ic_close_black_16px.svg" aria-label="Close dialog"></md-icon><b>{{mixer.count}}</b>
                  </md-subheader>
                  <md-list-item ng-repeat="feed in mixer.feeds" class="md-2-line ration-item" ng-class="feed.color">
                    <div class="md-list-item-text" layout="column">
                      <a class="link" ng-click="group.showFeedDialog();" href="#">{{feed.name}}</a>
                      <p>{{feed.source}}</p>
                      <b>{{feed.weight}}</b>
                    </div>
                  </md-list-item>
                  <md-divider ></md-divider>  

                  <md-list-item class="md-2-line ration-item total">
                    <div class="md-list-item-text" layout="column">
                      <h3></h3>
                      <p></p>
                      <b>1750</b>
                    </div>
                  </md-list-item>
                  </md-list>  
                </md-card>
              </div>
          </md-card>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
  </form>
</md-dialog>