<div class="feed-view">
  <div layout="row" class="feed-title">
    <h2 class="feed-name">{{feedView.feed.general.name}} 
      <b>{{feedView.feed.general.year}}</b>
      <div class="feed-composition">{{feedView.feed.general.composition}}</div>
    </h2>
    <div class="weight-wrapper"> 
      <span class="weight-control">
        <span class="left">800</span>
        <span class="total">{{feedView.feed.general.weight}}</span>
      </span>
    </div>
    <div class="actions" flex>
      <md-button class="md-raised" ng-click="feedView.copy()">
        Copy
      </md-button>
      <md-button class="md-raised" ng-click="feedView.diff()">
        Diff
      </md-button>
      <md-button class="md-raised" ng-click="feedView.edit()">
        Edit
      </md-button>
      <md-button class="md-warn" ng-click="feedView.delete($event)">
        Delete
      </md-button>
    </div>
  </div>

    <!-- HEADER -->
    <div class="feed-view-header" layout="row">
      <div flex="{{block.width}}" ng-repeat="block in feedView.feedItemSections">
          <label class="title">
              {{block.label}}
          </label>
      </div>
    </div>  

    <!-- CONTENT -->
    <div flex class="feed-view-content" layout="row">
        <diV flex="{{block.width}}" ng-repeat="block in feedView.feedItemSections">
            <ul class="feed-properties" ng-class="block.key" >
               <li class="property" ng-repeat="control in block.controls">
                <label>
                    {{control.label}}  {{control.dimension}}
                </label>

                <!-- SINGLE VALUE -->
                <span ng-if="!control.values">{{control.value}}</span>

                <!-- MULTI VALUES -->
                <span ng-if="control.values && control.key !== 'isNaturalWet'"" ng-repeat="value in control.values track by $index">{{value}}</span>
                
                <!-- DRY Control -->
                <md-checkbox ng-if="control.key === 'isNaturalWet'" ng-repeat="value in control.values track by $index" class="md-primary" ng-model="value">
                    ({{ value ? 'Да' : 'Нет' }})
                </md-checkbox>
            </li>   
            </ul>
        </diV>
    </div> 
</div>