<div class="feed-view">
  <div layout="row" class="feed-title">
    <h2 class="feed-name">{{feedView.feed.general.name}} 
      <b>{{feedView.feed.general.year}}</b>
      <div class="feed-composition">{{feedView.feed.general.composition}}</div>
    </h2>
    <div class="weight-wrapper"> 
      <span class="weight-control">
        <span class="left">800</span>
        <span class="total">{{feedView.feed.general.weight}}</span>
      </span>
    </div>
    <div class="actions" flex>
      <md-button class="md-raised" ng-click="feedView.diff()">
        Diff
      </md-button>
      <md-button class="md-raised" ng-click="feedView.edit()">
        Edit
      </md-button>
      <md-button class="md-warn" ng-click="feedView.delete($event)">
        Delete
      </md-button>
    </div>
  </div>

    <!-- HEADER -->
    <div class="feed-view-header" layout="row">
      <div flex="{{block.width}}" ng-repeat="block in feedView.feedItemSections">
          <label class="title">
              {{block.label}}
          </label>
          <md-switch ng-if="block.key === 'analysis'" class="md-primary" ng-model="control.itemToBind[control.key]">
              Расчитать на: {{ control.itemToBind[control.key] ? 'Натуральную влажность' : 'Сухое вещество' }}
          </md-switch>
      </div>
    </div>  

    <!-- CONTENT -->
    <div flex class="feed-view-content" layout="row">
        <diV flex="{{block.width}}" ng-repeat="block in feedView.feedItemSections">
            <ul class="feed-properties" ng-class="block.key" ng-repeat="subSection in block.subSections">
               <li class="property" ng-repeat="control in subSection">
                <label>
                    {{control.label}}  {{control.dimension}}
                </label>
                <span>{{control.value}}</span>
            </li>   
            </ul>
        </diV>
    </div>  
        <!-- FEED BLOCK CONTROL
        <div class="edit-block-sub-section" ng-repeat="subSection in block.subSections">
            <md-input-container class="feed-property" ng-repeat="control in subSection">
                <label ng-click="onSelfExplanationLinkClick(control.key)" class="self-explanation-link">
                    {{control.label}}  {{control.dimension}}
                </label>
                <input ng-model="feedEdit.feedItem[block.key][control.key]"/>
            </md-input-container>    
        </div>-->
    
    <!-- FEED BLOCK 
    <ul flex="30" class="feed-property" ng-repeat="block in feedView.feedItemControls">
        <li class="title">
          <h4 class="feed-property">
              {{block.label}}
              <md-button class="md-fab md-mini md-primary">
                1
              </md-button>
              <md-button class="md-fab md-mini md-primary">
                2
              </md-button>
          </h4>

        </li>
        <!-- FEED BLOCK CONTROL
        <li class="property" ng-repeat="control in block.children">
            <label>
                {{control.label}}  {{control.dimension}}
            </label>
            <span>{{control.value}}  {{control.dimension}}</span>
        </li>
    </ul>-->
</div>