.feed {

	.weight-control {
		width: auto;
	    /* padding: 2px 4px; */
	    border: 2px solid #FF9800;
	    height: 26px;
	    border-radius: 3px;
		font-size: 22px;
		.left {
		    color: #FF9800;
		    padding: 2px 4px;
		    font-weight: 600;
		}

		.total {
		    background-color: #FF9800;
		    color: #fff;
		    padding: 2px 4px;
		    font-weight: 600;
		}

		&.full {

			border-color: #009688;
			.left {
				display: none;
				color: #009688;
			}

			.total {
			    background-color: #009688;
			}
		}
	}
	
	.feed-list {
		font-size: 11px;

		.feed-item {

			&.selected {
				background-color: #BBDEFB;
			}

			&.inDiff {
				background-color: #BBDEFB;	
			}

			cursor: pointer;
			background-color: #fff;
			min-height: 68px;
			border-bottom: 1px solid #eee;
			button {
				&.md-no-style {
					min-height: 68px;
				} 
			}
			.md-list-item-text {
				line-height: normal;
			}

			.year {
			    /* float: right; */
			    color: #3F51B5;
			    font-weight: bold;
			    margin-top: 2px;
			}

			.title {
				color: #333;
			    font-size: 16px;
			}

			.source {
				font-size: 10px;
				margin-top: 2px;
			}

			.composition {
				font-size: 10px;
				color: #333;
			}

			.weight {
				&.weight-control {
					margin-top: 2px;
					line-height: 16px;
					height: 15px;
					float: right;
					font-size: 11px;
				}
			}

			&.done {
				background-color: #ddd;
				p, b {
					color: #999;
				}

				.weight {
					&.weight-control {
						border: none;
						color: #999;
						.left {
							display: none;
						}
						.total {
							color: #999;
							background-color: transparent;
							padding: 0;
						}
					}
				}
			}
		}
	}	

	.dashboard { 
		height: 100%
	}
}