<div class="diff">
  <div layout="row" class="diff-title">
    <label>Сравнение</label>
    <!--<div>
      <label>Выделить показатель:</label>
      <md-radio-group ng-model="data.group1">
        <md-radio-button value="more">Больше</md-radio-button>
        <md-radio-button value="less">Меньше</md-radio-button>
      </md-radio-group>
    </div>-->
  </div>
  <div class="diff-dashboard" layout="row">
  <ul flex class="property-list">
    <li class="property-row" ng-repeat="property in diff.diffRows">
      <h4 class="root-property">{{property.label}}</h4>
      <ul ng-if="property.children">
        <li class="property-values" ng-repeat="child in property.children" layout="row">
          <span flex class="property-label">{{child.label}}</span>  
          <span class="property-value" ng-repeat="value in child.values track by $index">
            {{value}}
          </span>  
        </li>
      </ul>
    </li>
  </ul>
</div>