.diff-card {
	padding: 20px;
	.diff-dashboard {
		ul, li {
			list-style-type: none;
			margin: 0;
			padding:0;
			font-size: 12px;
		}

		li {
			padding: 4px 0;
		}

		.root-property {
			color: #6a6c6f;
		}

		.property-label {
			color: #6a6c6f;
		}

		.property-values {
			border-bottom: 1px solid #eee;
			&:hover {
				background-color: #BBDEFB;
				border-bottom: 1px solid #BBDEFB;	
			}
			.property-value {
				color: #333;
			    padding: 0 20px;
			    min-width: 60px;
			    text-align: right;
			}
		}
	}
}