<div class="feed-edit" layout-padding="" layout="column">

    <!-- HEADER -->
    <div class="feed-edit-header" layout="row">
        <div flex="{{block.width}}" ng-repeat="block in feedEdit.feedItemSections">
            <label class="title">
                {{block.label}}
            </label>
            <group-buttons ng-if="block.key === 'analysis'" 
                allow-add="true"
                on-add="feedEdit.onAnalysisAdd()" 
                on-select="feedEdit.onAnalysisSelect(item)"
                items="feedEdit.feedItem.analysis">
            </group-buttons>
        </div>
    </div>

    <!-- CONTENT -->
    <div flex class="feed-edit-content" layout="row">
        <diV flex="{{block.width}}" ng-repeat="block in feedEdit.feedItemSections" layout="row">

            <div ng-if="block.key !== 'analysis' || feedEdit.currentAnalysis === subSection.initialItem" flex class="edit-block-sub-section" ng-repeat="subSection in block.subSections">

                <md-input-container class="feed-property" ng-repeat="(key, data) in subSection.controls" ng-class="{booleanProperty : data.isBoolean}">
                    
                    <!-- BOOLEAN -->  
                    <md-checkbox ng-if="data.isBoolean" class="md-primary" ng-model="data.itemToBind[data.key]">
                        {{data.label}}: ({{ subSection.initialItem[data.key] ? 'Да' : 'Нет' }})
                    </md-checkbox>                  

                    <!-- LABEL -->
                    <label ng-if="!data.isBoolean" class="self-explanation-link">
                        {{data.label}}  {{data.dimension}}
                    </label>

                    <!-- INPUT NUMBER -->
                    <input ng-if="!data.isBoolean && data.isNumber" type="number" ng-model="subSection.initialItem[data.key]"/>

                    <!-- INPUT -->
                    <input ng-if="!data.isBoolean && !data.isNumber" ng-model="subSection.initialItem[data.key]"/>

                </md-input-container>    
            </div>
        </diV>
    </div>

    <!-- ACTIONS -->
    <div class="feed-edit-actions" layout="row" layout-align="center left" layout-sm="column" layout-wrap="">
        <md-button class="md-raised" ng-click="feedEdit.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="feedEdit.save()">
            Save
        </md-button>
    </div>
</div>