<div class="feed-edit" layout-padding="" layout="column">

    <!-- HEADER -->
    <div class="feed-edit-header" layout="row">
        <div flex="{{block.width}}" ng-repeat="block in feedEdit.feedItemSections">
            <label class="title">
                {{block.label}}
            </label>
            <span ng-if="block.label === 'analysis'" class="buttons-group">
                <span class="button">
                  <md-button>1</md-button>
                </span>
                <span class="button">
                  <md-button>+</md-button>
                </span>
            </span>
        </div>
    </div>

    <!-- CONTENT -->
    <div flex class="feed-edit-content" layout="row">
        <diV  flex="{{block.width}}" ng-repeat="block in feedEdit.feedItemSections">
            <div class="edit-block-sub-section" ng-repeat="subSection in block.subSections">
                <md-input-container class="feed-property" ng-repeat="control in subSection">
                    
                    <!-- BOOLEAN -->                    
                    <md-switch ng-show="control.isBoolean" class="md-primary" ng-model="control.itemToBind[control.key]">
                        {{control.label}} : {{ control.itemToBind[control.key] ? 'Да' : 'Нет' }}
                    </md-switch>

                    <!-- INPUT -->
                    <label ng-show="!control.isBoolean" class="self-explanation-link">
                        {{control.label}}  {{control.dimension}}
                    </label>
                    <input ng-show="!control.isBoolean" ng-model="control.itemToBind[control.key]"/>

                </md-input-container>    
            </div>
        </diV>
    </div>

    <!-- ACTIONS -->
    <div class="feed-edit-actions" layout="row" layout-align="center left" layout-sm="column" layout-wrap="">
        <md-button class="md-raised" ng-click="feedEdit.cancel()">
            Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="feedEdit.save()">
            Save
        </md-button>
    </div>
</div>