<div class="feed-card">
  
  <div layout="row" class="feed-title">
    <h2 class="feed-name">{{feedCard.feed.general.name}} 
      <b>{{feedCard.feed.general.year}}</b>
      <div class="feed-composition">{{feedCard.feed.general.composition}}</div>
    </h2>
    <div class="weight-wrapper"> 
      <span class="weight-control">
        <span class="left">800</span>
        <span class="total">{{feedCard.feed.general.weight}}</span>
      </span>
    </div>
    <div class="actions" flex>
      <md-button class="md-raised" ng-click="feedCard.diff()">
        Diff
      </md-button>
      <md-button class="md-raised" ng-click="feedCard.edit()">
        Edit
      </md-button>
      <md-button class="md-warn" ng-click="feedCard.delete($event)">
        Delete
      </md-button>
    </div>
  </div>
  <div layout-gt-sm="row">
    <!-- FEED BLOCK -->
    <ul flex="30" class="feed-property" ng-repeat="block in feedCard.feedItemControls">
        <li class="title">
          <h4 class="feed-property">
              {{block.label}}
          </h4>
        </li>
        <!-- FEED BLOCK CONTROL-->
        <li class="property" ng-repeat="control in block.children">
            <label>
                {{control.label}}  {{control.dimension}}
            </label>
            <span>{{control.value}}  {{control.dimension}}</span>
        </li>
    </ul>
  </div>
</div>