.feed-card {
	padding: 0 20px;
	.feed-title {
		color: #3F51B5;
	    font-size: 20px;
	    margin-bottom: 20px;

		.feed-name {
			margin-right: 30px;
    		margin-top: 10px;
			b {
				font-size: 22px;
			}
		}

		.actions {
			line-height: 58px;
    		text-align: right;
		}
	}

	.feed-composition {
		padding-left: 2px;
    	font-size: 14px;
	}

	.weight-wrapper {
		line-height: 66px
	}

	.feed-property {
		width: 200px;
		font-size: 12px;
		list-style: none;
		padding: 0;
		margin: 0;

		.title {
			padding-bottom: 4px;
			font-weight: 600;
			h4 {
				width: 140px;
				display: inline-block;
				text-align: right;
				text-transform: uppercase;
			}
		}
		.property {

			padding: 4px 0;
			label {
				width: 140px;
				display: inline-block;
				text-align: right;
				color: rgba(0,0,0,0.54);
			}
			span {
			    margin-left: 4px;
			    font-weight: 500;
			    color: #333;
			}	
		}

		&.process,
		&.feeding {
			label {
				width: 100px;
			}
		}

		&.ration {
			.title {
				label {
					width: 140px;
					display: inline-block;
					text-align: left;
				}
			}
			li {
				a {
					text-align: left;
					font-size: 11px;
				}
			}
		}
	}
}